<template>
    <div class="home">
		<div class="nav">
			<topnav></topnav>
		</div>
		<router-view></router-view>
	</div>
</template>

<script>
import {getKing} from '@/api/api.js'
import topnav from '../components/topNav.vue'
export default {
	data(){
		return{
			heroData:'',
			imgs:''
		}
	},
	mounted() {
		getKing('/wzry/hero/list').then((res)=>{
			// console.log(res)
			let data = res.data
			
		})
	},
	methods:{
		aa(){
			console.log('55')
		}
	},
	components:{
		topnav
	}
 
}
</script>
<style scoped="" lang="less">
	.nav{
		width: 100%;
		background-color:#242c65;
	}
	
</style>
