<template>
  <div>
    <div class="login_banner">      
      <div class="login_box">
        <div class="login_title">
          <p>欢迎来到王者荣耀社区！</p>
        </div>
        <div class="account">
          <el-input
            v-model="account"
            clearable 
            prefix-icon='el-icon-user'
            placeholder="请输入账号"
          ></el-input>
        </div>
        <div class="password">
          <el-input
            v-model="password"
            clearable 
            type="password"
            prefix-icon='el-icon-lock'
            placeholder="请输入密码"
          ></el-input>
        </div>
        <div class="forget">
          <span class="forget_text">忘记密码？</span>
        </div>
        <div class="login" @click="login">
          <span>登&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;录</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return{
        account: "",
        password: ""  
      }
    },
    methods: {
      login(){
        this.$router.push({
          path:'/home'
        })
      }
    }
  }
</script>

<style lang="less" scoped>
.login_banner {
  width: 100%;
  height: 100vh;
  background: url("../assets/login.gif");
  position: relative;
  
  .login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width:500px;
    height: 400px;
    transform: translate(-50%,-50%);
    padding-top: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
    .login_title {
      height: 50px;
      line-height: 50px;
      width: 80%;      
      margin: auto;
      margin-bottom: 30px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: 24px;
      font-weight: bold;
    }
    .account, .password {
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
      /deep/.el-input__inner {
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
      }
    }
    .forget {
      width: 80%;
      text-align: right;
      color: #fff;
      margin: auto;
      margin-bottom: 20px;
      font-size: 14px;
      .forget_text {
        cursor: pointer;
        &:hover {
          color: royalblue;
        }
      }
      
    }
    .login {
      width: 80%;
      height: 50px;
      line-height: 50px;
      border-radius: 5px;
      margin: auto;
      color: #fff;
      font-size: 20px;
      text-align: center;
      // letter-spacing: 20px;     
      background: linear-gradient(90deg, #03a9f4, #f441a5, #03a9f4,#ffeb3b,#03a9f4,);
       background-size: 400%;
      &:hover {
        animation: light 8s infinite;
        font-weight: bold;
      }
    }

    
  }
  @keyframes light {
      100%{
        background-position: -400% 0;
      }
    }
}
</style>