<template>
	<div>
		<div>
			<el-card class="card">
				<el-upload 	
					action='https://jsonplaceholder.typicode.com/posts/'										
					ref="upload"	
					list-type="picture-card"		
					:before-upload="handleUpload"			
					:on-preview="handlePreview"
				>
					<el-button >点击上传</el-button>
				</el-upload>
				<el-row>
					<img :src='imgUrl' class="img" width='100%'>
					<h2>{{this.$store.state.name}}</h2>
					<h2>{{name+':'+age}}</h2>
					<el-button @click="info(num)">按钮</el-button>
					<el-button @click="ascInfos()">异步按钮</el-button>
				</el-row>
			</el-card>
		</div>

		<el-button @click="showDia">弹框按钮</el-button>
		<com-drag :dialogVisible.sync="dialogVisible"></com-drag>		
	</div>
</template>

<script>
	import {getKing} from '../api/api.js'

	import { mapState, mapMutations, mapActions } from 'vuex'
	export default{
		// components: {comDrag},
		data(){
			return{
				imgUrl:'',
				num:20,
				positionX: "",
				positionY: "",
				dialogVisible: false
			}
		},

		mounted() {			
			// getLoL({serviceId:18,typeids:2,tagids:2641,limit:8,typeids:2,exclusiveChannel:4,time:1632112262}).then((res)=>{
			// 	console.log(111,res)
			// })
			// getKing('/wzry/hero/detail',{hero_id:21}).then((res)=>{
			// 	console.log(11,res)
			// })
		},
		computed: {
			...mapState(['name','age'])		
		},
		methods:{			
			showDia() {
				this.dialogVisible = !this.dialogVisible
			},
			// ...mapActions(["ascInfo"]),
			ascInfos() {
				this.$store.dispatch("ascInfo",20)
			},
			...mapMutations(['info']),			
			handleAvatarSuccess(res,file){			
				this.imgUrl = URL.createObjectURL(file.raw);
				this.imgUrl = file.response.data
				console.log("666",res,file)
			},
			handlePreview(file) {
				this.imgUrl = file.url
				console.log("000",file)
			},
			handleUpload(file){
				// if(!(file.type === 'image/png' || file.type === 'image/gif' || file.type === 'image/jpg' || file.type === 'image/jpeg')) {
				// 	this.$notify.warning({
				// 		title: '警告',
				// 		message: '请上传格式为image/png, image/gif, image/jpg, image/jpeg的图片'
				// 	})
				// }
				// let size = file.size / 1024 / 1024 / 2
				// if(size > 2) {
				// 	this.$notify.warning({
				// 		title: '警告',
				// 		message: '图片大小必须小于2M'
				// 	})
				// }

				console.log(999,file)
				return true
			}
		}
	}
</script>

<style lang="less" scoped>
	.card{
		height: 500px;
		width: 800px;
		margin: auto;
		margin-top: 20px;
	}
	.img{
		width: 500px;
		height: 300px;
		border: 1px solid #000;
	}
</style>
