<template>
  <div class="content">
    <div
      class="banner"
      v-if="dataList.skin_imgs"
      :style="{
        backgroundImage: 'url(' + dataList.skin_imgs[0].big_img + ')',
        backgroundPosition: 'top right',
        backgroundRepeat: 'no-repeat',
        backgroundSize: '100% 100%',
      }"
    >
      <!-- 英雄面板 -->
      <div class="panel">
        <div class="hero_panel">
          <p class="name">{{ dataList.name }}</p>
          <p class="skinName">{{ dataList.skin_imgs[0].skin_name }}</p>
          <div class="pro">
            <span>生存能力：</span
            ><el-progress
              class="process"
              :stroke-width="10"
              :percentage="dataList.levels.survival * 10"
              :show-text="false"
            ></el-progress>
          </div>
          <div class="pro">
            <span>物理伤害：</span
            ><el-progress
              class="process"
              :stroke-width="10"
              :percentage="dataList.levels.attack * 10"
              :show-text="false"
              status="warning"
            ></el-progress>
          </div>
          <div class="pro">
            <span>技能伤害：</span
            ><el-progress
              class="process"
              :stroke-width="10"
              :percentage="dataList.levels.skill * 10"
              :show-text="false"
              status="success"
            ></el-progress>
          </div>
          <div class="pro">
            <span>上手难度：</span
            ><el-progress
              class="process"
              :stroke-width="10"
              :percentage="dataList.levels.difficulty * 10"
              :show-text="false"
              status="exception"
            ></el-progress>
          </div>
        </div>
        <el-row class="hero_skin" type="flex">
          <el-col
            class="skinList"
            v-for="(item, index) in dataList.skin_imgs"
            :key="index"
          >
            <img :src="item.big_img" style="width: 100px; height: 100px" />
            <span>{{ item.skin_name }}</span>
          </el-col>
        </el-row>
        <el-row></el-row>
        <el-row></el-row>
        <el-row></el-row>
      </div>
    </div>
    <!-- 面包屑导航 -->
    <div class="bread">
      <el-breadcrumb class="breadList" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item
          v-for="(items, index) in bread"
          :key="index"
          :to="items.url"
        >
          <i :class="items.icon"></i>{{ items.name }}
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <!-- 英雄简介 -->
    <el-card class="container">
      <div
        class="bgi"
        :style="{
          backgroundImage: 'url(' + dataList.big_img + ')',
          backgroundPosition: 'top right',
          backgroundRepeat: 'no-repeat',
        }"
      >
        <el-row type="flex">
          <el-col>
            <el-row class="skillIntro"><span>技能介绍</span></el-row>
            <!-- 技能图片 -->
            <el-row type="flex" :gutter="10">
              <el-col
                class="skills"
                :span="6"
                v-for="(items, index) in dataList.skill_list"
                :key="index"
              >
                <div class="circle">
                  <img style="width: 50px; height: 50px" :src="items.icon" />
                </div>
              </el-col>
            </el-row>
            <!-- 技能名称 -->
            <el-row type="flex" :gutter="10">
              <el-col
                :span="6"
                v-for="(items, index) in dataList.skill_list"
                :key="index + 'a'"
              >
                <span>{{ items.name }}</span
                ><br />
                <span>冷却时间：{{ items.cd ? items.cd : "无冷却" }}</span>
              </el-col>
            </el-row>

            <el-row type="flex" :gutter="10">
              <el-col
                :span="6"
                v-for="(items, index) in dataList.skill_list"
                :key="index + 'ac'"
              >
                <span v-if="items.tags">伤害属性：{{ items.tags }}</span
                ><br />
                <span
                  >蓝耗：{{
                    items.mana_cost ? items.mana_cost : "无消耗"
                  }}</span
                >
              </el-col>
            </el-row>
            <!-- 技能简介 -->
            <el-row type="flex" :gutter="10">
              <el-col
                :span="6"
                v-for="(items, index) in dataList.skill_list"
                :key="index + 'b'"
              >
                <span>{{ items.description }}</span>
              </el-col>
            </el-row>

            <el-row></el-row>
            <el-row></el-row>
          </el-col>
          <el-col></el-col>
        </el-row>
      </div>
    </el-card>
  </div>
</template>

<script>
import bread from "../../mixins/breadCrumb.js";
import { getKing } from "@/api/api.js";
export default {
  mixins: [bread],
  data() {
    return {
      dataList: {},
    };
  },
  mounted() {
    this.select();
  },
  methods: {
    select() {
      const id = this.$route.query.id;
      getKing("/wzry/hero/detail", { hero_id: id }).then((res) => {
        let data = res.data.info;
        this.dataList = data;
        console.log(res);
      });
    },
  },
};
</script>

<style scoped lang="less">
.content {
  background: #fafafa;
}
.bread {
  width: 1400px;
  height: 40px;
  margin: auto;
  .breadList {
    margin-top: 20px;
    font-size: 20px;
  }
}
.container {
  width: 1400px;
  height: 930px;
  margin: 5px auto;
  .skillIntro {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .skills {
    height: 50px;
    margin: auto;

    margin-bottom: 10px;
    .circle {
      overflow: hidden;
      box-sizing: border-box;
      width: 60px;
      text-align: center;
      height: 60px;
      border: 2px solid #006;
      border-radius: 50%;
      img {
        border-radius: 50%;
        margin-top: 3px;
      }
    }
  }
}
.banner {
  width: 100%;
  .panel {
    width: 1200px;
    margin: auto;
    height: 800px;
    position: relative;
    .hero_panel {
      width: 400px;
      height: 500px;
      padding: 30px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -280px;
      background: rgba(0, 0, 0, 0.4);
      .pro {
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        .process {
          background-color: #242c65;
          margin-top: 10px;
          width: 300px;
          border-radius: 5px;
          float: right;
          /deep/.el-progress-bar {
            .el-progress-bar__outer {
              background: #000;
            }
          }
        }
        span {
          color: #fff;
        }
      }
      .name {
        font-size: 50px;
        color: #eff;
        font-weight: bold;
      }
      .skinName {
        font-size: 40px;
        color: #f3c258;
        font-weight: bold;
      }
    }
    .hero_skin {
      position: absolute;
      bottom: 50px;
      right: 0px;

      .skinList {
        box-sizing: content-box;
        border: 6px solid #7a7a7a;
        overflow: hidden;
        border-radius: 0 15px 0 15px;
        margin-left: 10px;
        height: 100px;
        width: 100px;
      }
    }
  }
}
.bgi {
  width: 100%;
  height: 900px;
}
</style>