<template>
	<div>
		<el-card class="table">
			<div slot="header" class="title">所有装备列表</div>
			<el-button @click="handleDownloadData">
				导出
			</el-button>
			<el-table :data="equipDatas.slice((currentPage-1)*pageSize,currentPage*pageSize)"  stripe 
				style="width: 100%;margin-bottom: 10px;" height="600px" border  fit>
				<el-table-column prop="equip_id" label="id"></el-table-column>
				<el-table-column prop="name" label="装备名称"></el-table-column>
				<el-table-column prop="icon" label="图片">
					<template slot-scope="scoped">
						<el-popover width="50px">
							<img :src="scoped.row.icon">
							<img slot="reference" 
								:src="scoped.row.icon" :alt="scoped.row.icon" 
								style="max-height: 50px;max-width: 50px">
						</el-popover>
					</template>
				</el-table-column>
				<el-table-column prop="price" label="价格" ></el-table-column>
			</el-table>
			<!-- 英雄数据分页显示 --><!-- @size-change='handleSizeChange' -->
			<el-pagination background class="pages"
			  @current-change='handleCurrentChange'
			  layout="prev, pager, next"
			  :total="totalPage"
			  :current-page="currentPage"
			  :page-size='pageSize'>
			</el-pagination>
			<div class="clear"></div>
		</el-card>
	</div>
</template>

<script>
	import {getKing} from '@/api/api.js'
	export default {
		data(){
			return{
				equipDatas:[],
				pageSize:10,
				totalPage:0,
				currentPage:1,
				tableTitleData: [
          {
            label: "id",
            prop: "equip_id"
          },
          {
            label: "名称",
            prop: "name"
          },
          {
            label: "价格",
            prop: "price"
          }
        ]
			}
		},
		mounted() {
			this.equipData()
		},
		methods:{
			// 导出excel
			handleDownloadData(){
				let allColumns = this.tableTitleData;
        var columnNames = [];
        var columnValues = [];
        for (var i = 0; i < allColumns.length; i++) {
          columnNames[i] = allColumns[i].label;
          columnValues[i] = allColumns[i].prop;
        }
				console.log(columnValues)
        require.ensure([], () => {
          const { export_json_to_excel } = require("@/vendor/Export2Excel");
          const tHeader = columnNames;
          const filterVal = columnValues;
          const list = this.equipDatas;
          const data = this.formatJson(filterVal, list);
          export_json_to_excel(tHeader, data, "导出装备列表");
        });
      },
      formatJson(filterVal, jsonData) {
        return jsonData.map(v => filterVal.map(j => v[j]));
      },						
			equipData(){
				getKing('/wzry/equip/list').then((res)=>{
					let data = res.data.list
					this.equipDatas=data
					this.totalPage=data.length
					console.log(data)
				})
			},
			handleCurrentChange(val){
				// 切换到哪一页
				this.currentPage=val
			}
		}
	}
</script>

<style scoped>

</style>
