<template>
  <div class="content">
    <!-- 所有英雄数据 -->
    <el-card class="table">
      <div slot="header" class="title">所有英雄列表111</div>
      <el-table
        :data="
          heroDatas.slice((currentPage - 1) * pageSize, currentPage * pageSize)
        "
        stripe
        style="width: 100%; margin-bottom: 10px"
        height="600px"
        border
        fit
      >
        <el-table-column prop="hero_id" label="英雄ID"></el-table-column>
        <el-table-column prop="name" label="名字"></el-table-column>
        <el-table-column prop="cover" label="图片">
          <template slot-scope="scoped">
            <el-popover width="200">
              <img :src="scoped.row.cover" />
              <img
                slot="reference"
                :src="scoped.row.cover"
                :alt="scoped.row.cover"
                style="max-height: 50px; max-width: 50px"
              />
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="tags" label="标签" width="180"></el-table-column>
        <el-table-column label="详细信息" width="100">
          <template slot-scope="scoped">
            <span class="clickButton" @click="detaileInfo(scoped.row.hero_id)"
              >点击查看</span
            >
            <span></span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 英雄数据分页显示 --><!-- @size-change='handleSizeChange' -->
      <el-pagination
        background
        class="pages"
        @current-change="handleCurrentChange"
        layout="prev, pager, next"
        :total="totalPage"
        :current-page="currentPage"
        :page-size="pageSize"
      >
      </el-pagination>
      <div class="clear"></div>
    </el-card>
  </div>
</template>

<script>
import { getKing } from "@/api/api.js";
export default {
  data() {
    return {
      laoding: true,
      searchValue: "",
      searchName: "",
      heroDatas: [],
      pageSize: 10,
      totalPage: 0,
      currentPage: 1,
    };
  },
  mounted() {
    this.heroData();
  },
  methods: {
    heroData() {
      getKing("/wzry/hero/list").then((res) => {
        let data = res.data.list;
        this.heroDatas = data;
        this.totalPage = data.length;
        this.laoding = false;
        console.log(data);
      });
    },
    // handleSizeChange(val){
    // 	//
    // 	this.pageSize=val
    // },
    handleCurrentChange(val) {
      // 切换到哪一页
      this.currentPage = val;
    },
    detaileInfo(id) {
      this.$router.push({ path: "/gameData/detail", query: { id: id } });
      console.log(666, id);
    },
    select() {
      getKing("/api/wzry/hero/detail", { hero_id: this.searchValue }).then(
        (res) => {
          console.log(11, res);
        }
      );
    },
  },
};
</script>

<style scoped>
.content {
  width: 1500px;
  margin: auto;
}
.title {
  font-style: inherit;
  font-size: 25px;
}
.table {
  width: 800px;
  margin: 5px auto;
}
.clickButton {
  cursor: pointer;
  color: #242c65;
}
.pages {
  float: right;
}
</style>