<template>
  <div id='comDrag' v-show="dialogVisible">
        <div class="dialog" ref="dialogRef"> 
            <div class="title" @mousedown="move">拖动盒子</div>
			<div >
				<p>拖动的盒子
					<!-- X:{{ positionX}}- Y:{{positionY}} -->
				</p>
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button @click="dialogVisible = false">取 消</el-button>
				<el-button type="primary" @click="dialogVisible = false">确 定</el-button>
			</span>
		</div>
  </div>
</template>

<script>
// import x from ''
export default {
    name:'',
    components: {},
    data() {
        return {
            // dialogVisible: false,
            dialogWidth: '',
            moveX: ''
        }
    },
    props: {
        dialogVisible: {
            type: Boolean,
            default: false
        }
    },
    computed: {

    },
    watch: {

    },
    mixins: [],
    methods: {
        // 拖动事件
        move(e){
            let odiv = e.target.parentNode;        //获取目标元素				
            //算出鼠标相对元素的位置
            console.log("ClientX",e.clientY)
            let disX = e.clientX - odiv.offsetLeft;
            let disY = e.clientY - odiv.offsetTop
            let eCx = e.clientX
            
            document.onmousemove = (e)=>{       //鼠标按下并移动的事件
                //用鼠标的位置减去鼠标相对元素的位置，得到元素的位置
                let left = e.clientX - disX;    
                let top = e.clientY - disY;
                let moveX =Math.abs(e.clientX - eCx)
                this.moveX = moveX
                //绑定元素位置到positionX和positionY上面
                if (e.clientY <= 10) {
                    odiv.style.top = '50%';
                    odiv.style.left = '50%';
                }
                if(moveX >= e.target.parentNode.parentNode.offsetWidth/2) {
                    this.$emit("update:dialogVisible", false)
                }
                
                //移动当前元素
                odiv.style.left = left + 'px';
                odiv.style.top = top + 'px';
            };
            document.onmouseup = (e) => {                
                document.onmousemove = null;
                document.onmouseup = null;
                console.log("eee",e,this.moveX)
                if (this.moveX < 960) {
                    e.target.parentNode.style.top = '50%';
                    e.target.parentNode.style.left = '50%';
                }
            };
        },
    },
    activated: {},
    mounted() {
        let diaDom = this.$refs.dialogRef;
        this.dialogWidth = diaDom.offsetWidth;        
    },
    beforeRouteEnter: (to, from ,next) => {
      next(() => {});
    },
    beforeRouteLeave: (to, from, next) => {
      next(() => {});
    },
}
</script>
<style lang='less' scoped>
#comDrag {
    position: fixed;    
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    .dialog {
		position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
		height: 500px;
		width: 80%;
		background: #fff;
        .title {
            height: 40px;
            width: 100%;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
            background: #eee;
        }
	}
}
	
</style>