<template>
  <div id="header">
    <div class="well">欢迎来到王者游戏社区———测试发布</div>
    <div class="navBar">
      <el-menu
        background-color="#242c65"
        text-color="#fff"
        :router="true"
        active-text-color="#bcc969"
        default-active="1"
        class="vav"
        mode="horizontal"
      >
        <el-menu-item index="/banner">首页</el-menu-item>
        <el-menu-item index="/my">我的</el-menu-item>
        <el-menu-item index="/comment">社区</el-menu-item>
        <el-submenu index="/gameData">
          <template slot="title">游戏数据</template>
          <el-menu-item index="/gameData/heroData"
            ><span>英雄数据</span></el-menu-item
          >
          <el-menu-item index="/gameData/equipData"
            ><span>装备数据</span></el-menu-item
          >
          <!-- <el-menu-item index="/gameData"><span>英雄数据</span></el-menu-item> -->
        </el-submenu>
        <el-menu-item index="/about">关于</el-menu-item>
        <el-menu-item index="/test">测试</el-menu-item>
      </el-menu>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="less" scoped>
#header {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  .well {
    line-height: 60px;
    color: #ffe;
  }
}
</style>