<!-- 关于 -->
<template>
  <div id='about'>
    <div >
      
    </div>
  </div>
</template>

<script>
import CanvasNest from '../../CanvasNest/CanvasNest';
export default {
  name:'',
  components: {},
  data() {
    return {
      // {
      //   color: '0,0,255',
      //   opacity: 0.7,
      //   zIndex: -2,
      //   count: 99,
      // };
    }
  },
  props: [],
  computed: {

  },
  watch: {

  },
  mixins: [],
  methods: {},
  activated: {},
  mounted() {
    let about = document.getElementById('about')
    console.log(about)
    const config = {
      color: '39,105,201',
      count: 300,
      pointColor:'255,0,0',
      opacity:0.3,
      zIndex:-1
    };

    const cn = new CanvasNest(about,config);
  },
  beforeRouteEnter: (to, from ,next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
}
</script>
<style lang='less' scoped>
#about {
  width: 100%;
  height: 100vh;
}
</style>