<template>
	<div>
		<div class="banner">
			<el-carousel :interval="2000"  height="800px">
			<el-carousel-item v-for="item in 4" :key="item" >
				<img :src="require('../../assets/banner'+item+'.jpg')" />
			</el-carousel-item>
			</el-carousel>
			<!-- <button style="width:100px;height:50px;background:#444" @click='login'>denglu</button> -->
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return{
				
			}
		},
		methods:{
			login(){
				this.$router.push('/login').catch((val)=>{
					console.log("不允许跳转",val)

				})
			}
		}
	}
</script>

<style scoped lang="less">
	.banner{
		background: rgba(0,0,1,0.1);
		margin: auto;
		margin-top: 3px;
		width: 100%;
		img{
			width: 100%;
		}
	}
</style>
