<!-- 社区 -->
<template>
  <div id=''></div>
</template>

<script>
// import x from ''
export default {
  name:'',
  components: {},
  data() {
    return {

    }
  },
  props: [],
  computed: {

  },
  watch: {

  },
  mixins: [],
  methods: {},
  activated: {},
  mounted() {},
  beforeRouteEnter: (to, from ,next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
}
</script>
<style lang='less' scoped>
</style>