<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  method: {

  },
  mounted() {
    console.log(this.$route);
  }
}
  
</script>
<style lang="less">

</style>
