<template>
  <div>
    <el-button @click="see" class="see">查看</el-button>
    <el-table :data="list" border>
      <el-table-column prop="area" label="区域">
        <template v-slot="scope">
          <el-select clearable
            @change="valiedArea(scope,'area')"
            v-model="scope.row.area"
          >
            <el-option
              v-for="(item, index) in areaData"
              :key="index"
              :value="item"
              >{{ item }}</el-option
            >
          </el-select>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="名字">
        <template v-slot="scope">
          <el-input
            @blur="valiedName(scope,'name')"
            v-model.trim="scope.row.name"
          >
          </el-input>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template v-slot="scope">
          <el-button @click="deletes(scope)">删除</el-button>
          <el-button @click="add">添加</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      disabled: false,
      areaData: ["上海", "北京", "浙江", "江苏"],
      list: [{ name: "", area: "" }],
    };
  },
  // ꧁®ZΖz꧂ 2021/5/25 13:03:02

  methods: {
    add() {
      let flag = this.list.findIndex((item) => {
        return item.name == "" || item.area == "";
      });
      if (flag == -1) {
        this.list.push({ name: "", area: "" });
      } else {
        this.$message({
          type: "warning",
          message: "请填写完整的信息",
        });
      }
      console.log("flag", flag);
    },
    deletes(val) {
      console.log("scope", val);
      if (this.list.length > 1) {
        this.list.splice(val.$index, 1);
      }
    },
    see() {
      console.log("查看表格", this.list);
    },
    valide(scope,val){
      this.list.forEach((item, index) => {
        if(val == 'name'){
          if (scope.$index != index && scope.row.name != "") {
            if (item.name == scope.row.name) {
              this.$message({
                message: "꧁该负责人已存在꧂",
                type: "warning",
              });
              scope.row.name = "";
            }
          }
        }else{                  
          if (scope.$index != index && scope.row.area != "") {
            if (item.area == scope.row.area) {
              this.$message({
                message: "꧁该区域已存在꧂",
                type: "warning",
              });
              scope.row.area = "";
            }
          }
        } 
      }); 
      if(scope.row.area!==''&&scope.row.name!==''){
        this.$message({
          message: "꧁添加1条成功꧂",
          type: "success",
        });
      } 
    },
    valiedName(scope,val) {
      this.valide(scope,val)     
    },
    valiedArea(scope,val) {    
      this.valide(scope,val)    
    }
  },
};
</script>

<style lang="less" scoped>
.see {
  margin: auto;
  text-align: center;
}
</style>